<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniToDoList</title>
</head>
<body>
    <form method="post" action="/">
        <label for='noteadd'>Create your note:</label> <br>
        <input type="text" id="noteadd" name="noteadd">
        <input type="submit" value="Submit">
    </form>
    <form method="post" action="/">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Clear list</button>
    </form>
    <br>
    <p>List:</p>
    <ul>
        {% for item in note %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>

</body>
</html>